@using ArtifitialIntelligence.Models;
@model Company
@{
    ViewData["Title"] = "Details";
}
<br />
@using System.Net.Http

@using Microsoft.AspNetCore.Http
@using ArtifitialIntelligence.Utility
@inject IHttpContextAccessor HttpContextAccessor
@{

    List<Company> companies = HttpContextAccessor.HttpContext.Session.Get<List<Company>>("companies");
    Company company = null;
    if (companies != null)
    {
        company = companies.FirstOrDefault(c => c.Id == Model.Id);
    }   
}
<style>
    .col-3 img {
        border-radius: 5px;
        border: solid;
        border-color: aqua;
    }
</style>


<h2 class="text-info">Company Details</h2>
<form asp-action="Details" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CompanyName"></label>
                </div>
                <div class="col-8">
                    <input type="hidden" asp-for="Id" />
                    <input asp-for="CompanyName" readonly="readonly" class="form-control" />

                </div>
               
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Summary"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Summary" readonly="readonly" class="form-control" rows="4"></textarea>

                </div>
              
            </div>

            

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="AnchorLink"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ImageFileName" class="form-control" readonly="readonly" />

                </div>
                
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Like"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Like" class="form-control" readonly="readonly" />

                </div>

            </div>

            <div class="form-group row">
                <div class="col-4">
                   
                </div>

               @* <div class="col-8">
                    @if(company==null)
                    {
                        <input type="submit" class="btn btn-info form-control" value="Add to Card" />
                    }
                    else
                    {
                        <button type="submit" class="btn btn-danger form-control" asp-action="Remove" asp-route-id="@Model.Id">Remove to Cart</button>
                    }
                    

                </div>*@
               
            </div>

            <div class="form-group">
                
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="~/@Model.ImageFileName" width="100%" />
            @*@if(Model.IsAvailable)
            {
                <img src="~/Images/in-stock.jpg" width="100%" height="70px" />
            }
            else
            {
                <img src="~/Images/out-of-stock.jpg" width="100%" height="70px" />
            }*@
        </div>


    </div>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
    
 
}
@section head
{
    <style type="text/css">
        body {
            background-image: url('images/artificial-intelligence.png');
            margin: 0;
        }
    </style>
}


@inject IHttpContextAccessor HttpContextAccessor
@{

    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    Products product = null;
    if (products != null)
    {
        product = products.FirstOrDefault(c => c.Id == Model.Id);
    }   
}
    <div class="row">
    @foreach (var data in product.Companies.ListOfProducts)
    {
        <div class="col-4">
            <div class="card-mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <label class="ok">@data.Name</label>
                    </h4>
                </div>
                <img src="~/@data.Image" alt="Card-Image" class="card-img-top" style="height:300px;" />
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label class="ok1">Price : @data.Price</label>
                        </div>
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@data.Id" class="btn btn-primary  pull-right btn-outline-info"> Details</a>

                    </div>
                </div>
            </div>
        </div>
    }
</div>

