@using ArtifitialIntelligence.Models;
@using ArtifitialIntelligence.Utility
@using Microsoft.AspNetCore.Http
@model Products
@{
    ViewData["Title"] = "Product Details";
}
<br />
@inject IHttpContextAccessor HttpContextAccessor
@{

    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    Products product = null;
    if (products != null)
    {
        product = products.FirstOrDefault(c => c.Id == Model.Id);
    }
}

<style>
    .col-3 img {
        border-radius: 5px;
        border: solid;
        border-color: aqua;
    }
</style>
<h2 class="text-info">Product Details</h2>
<form asp-action="ProductDetails" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-8">

            <div class="form-group row">
                <div class="col-4">
                    <input type="hidden" asp-for="Id" />
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Image" />
                    <input asp-for="Name" readonly="readonly" class="form-control" />

                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" readonly="readonly" class="form-control" />

                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductColor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductColor" readonly="readonly" class="form-control" />

                </div>
                <span asp-validation-for="ProductColor" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Image"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Image" disabled="disabled" class="form-control" type="file" />

                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Companies.CompanyName"></label>
                </div>
                <div class="col-8">
                    <select asp-for="CompanyId" asp-items="ViewBag.companyId" disabled class="form-control"></select>
                    @* <input asp-for="CompanyId" readonly="readonly" class="form-control" />*@

                </div>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductTypes.ProductType"></label>
                </div>
                <div class="col-8">
                    <select asp-for="ProductTypeId" asp-items="ViewBag.productTypeId" disabled class="form-control"></select>
                    @*  <input asp-for="ProductTypeId" readonly="readonly" class="form-control" />*@

                </div>
                <span asp-validation-for="ProductTypeId" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="SpecialTag.SpecialTagName"></label>
                </div>
                <div class="col-8">
                    @* <select asp-for="SpecialTagId" class="form-control" asp-items="">....Select....</select>*@
                    <select asp-for="SpecialTagId" asp-items="ViewBag.specialTagId" disabled class="form-control"></select>
                    @* <input asp-for="SpecialTagId" readonly="readonly" class="form-control" />*@

                </div>
                <span asp-validation-for="SpecialTagId" class="text-danger"></span>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="IsAvailable"></label>
                </div>
                <div class="col-8">
                    <input asp-for="IsAvailable" class="" disabled="disabled" type="checkbox" />Available
                    @* <input asp-for="IsAvailable" class="" type="radio" value="Unavailable" />Unavailable*@

                </div>
                <span asp-validation-for="IsAvailable" class="text-danger"></span>
            </div>

            <div class="form-group">
                @*<input type="submit" class="btn btn-primary" value="Update" />*@
                <a asp-action="ShowComment" asp-controller="Home" asp-route-id="@Model.Id" class="btn btn-primary  pull-right btn-outline-info"> Rate this Product</a>
               @* <td>@Html.ActionLink("Rating/ReviewProduct", "ShowComment", new {productId=Model.Id})</td>*@
                <a asp-action="ProductIndex" asp-route-id="@Model.CompanyId" class="btn btn-success">Back to Company Products</a>
            </div>
             <div class="form-group row">
                <div class="col-4">
                   
                </div>
                <div class="col-8">
                    @if(product==null)
                    {
                        <input type="submit" class="btn btn-info form-control" value="Add to Card" />
                    }
                    else
                    {
                        <button type="submit" class="btn btn-danger form-control" asp-action="Remove" asp-route-id="@Model.Id">Remove to Cart</button>
                    }
                    

                </div>
               
            </div>


        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="~/@Model.Image" width="100%" />
            @if (Model.IsAvailable)
            {
                <img src="~/ProductImages/in-stock.jpg" width="100%" height="70px" />
            }
            else
            {
                <img src="~/ProductImages/out-of-stock.jpg" width="100%" height="70px" />
            }
        </div>


    </div>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
    }


