@using ArtifitialIntelligence.Models;
@model Products
@{
    ViewData["Title"] = "Delete";
}
<br />

<style>
    .col-3 img {
        border-radius: 5px;
        border: solid;
        border-color: aqua;
    }
</style>
<h2 class="text-info">Product Delete</h2>
<form asp-action="Delete" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input type="hidden" asp-for="Id" />
                    <input asp-for="Name" readonly="readonly" class="form-control" />

                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" readonly="readonly" class="form-control" />

                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductColor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductColor" readonly="readonly" class="form-control" />

                </div>
                <span asp-validation-for="ProductColor" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Image"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Image" disabled="disabled" class="form-control" type="file" />

                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Companies.CompanyName"></label>
                </div>
                <div class="col-8">
                    <select asp-for="CompanyId" asp-items="ViewBag.companyId" disabled class="form-control"></select>
                    @* <input asp-for="CompanyId" readonly="readonly" class="form-control" />*@

                </div>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductTypes.ProductType"></label>
                </div>
                <div class="col-8">
                    <select asp-for="ProductTypeId" asp-items="ViewBag.productTypeId" disabled class="form-control"></select>
                    @*  <input asp-for="ProductTypeId" readonly="readonly" class="form-control" />*@

                </div>
                <span asp-validation-for="ProductTypeId" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="SpecialTag.SpecialTagName"></label>
                </div>
                <div class="col-8">
                    @* <select asp-for="SpecialTagId" class="form-control" asp-items="">....Select....</select>*@
                    <select asp-for="SpecialTagId" asp-items="ViewBag.specialTagId" disabled class="form-control"></select>
                    @* <input asp-for="SpecialTagId" readonly="readonly" class="form-control" />*@

                </div>
                <span asp-validation-for="SpecialTagId" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="IsAvailable"></label>
                </div>
                @if (Model.IsAvailable == true)
                {
                    <div class="col-8" style="color:green;font-size:larger">
                        Stock Available
                    </div>
                }
                else
                {
                    <div class="col-8" style="color:red;font-size:larger">
                        Stock Out
                    </div>
                }
                @* <div class="col-8">

                <input asp-for="IsAvailable" disabled="disabled" class="" type="checkbox" />Available
                <input asp-for="IsAvailable" class="" type="radio" value="Unavailable" />Unavailable

                </div>*@

            </div>

            <div class="form-group">
                <h5 class="text-danger">Do you Want to Delete this Product?</h5>
                <input type="submit" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" value="Delete"/>
                <a asp-action="Index" class="btn btn-success"> <i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;Back to List</a>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <h3 style="text-align:center ;color:red">Product Picture</h3>
            <img src="~/@Model.Image" width="100%" />
            @if (Model.IsAvailable)
            {
                <img src="~/ProductImages/in-stock.jpg" width="100%" height="70px" />
            }
            else
            {
                <img src="~/ProductImages/out-of-stock.jpg" width="100%" height="70px" />
            }
        </div>

    </div>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
    }


